*{
    margin: 0%;
    padding: 3;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    box-sizing: border-box;
}

body{
background-color: cadetblue;

}
header{

position: fixed;
top: 0;
left: 0;
width: 100;
padding: 20*10;
background-color: yellowgreen;
display: flex;
justify-content: space-between;
align-items: center;
z-index: 100;

}
logo{
    font-weight: 800;
    color: black;
    font-size: 25;
}
navbar{
    text-align: right;
}